/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.app-wrapper {
    width: 100%;
    height: 100vh;
}

/* HEADER */
header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 40px;
    margin-right: 20px;
}

.dropbtn {
    padding: 2px 30px;
}

#play {
    padding: 2px 30px;
}

/* MAIN */
main {
    height: calc(100% - 80px);
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Game grid */
.game-grid {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square span {
    display: none;
}

.square.active span {
    display: block;
    background-color: #6495ed;
    color: white;
}

/* FOOTER */
footer {
    padding: 20px;
}